{% extends 'UP1ThesisBundle::base.html.twig' %}
{% block body -%}
    <h1>Event list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Eventtitle</th>
                <th>Eventdescription</th>
                <th>Eventimagelink</th>
                <th>Eventdate</th>
                {% if page=='allevents' or page=="subscriptions" %}
                    <th>Subscribe</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.eventTitle }}</a></td>
                <td>{{ entity.eventDescription }}</td>
                <td><img  height="200" width="300" src="{{ entity.eventImageLink }}"></img></td>
                <td>{% if entity.eventDate %}{{ entity.eventDate|date("Y-d-m") }}{% endif %}</td>
                <td>
                    {% set subscribed = false %} 
                    {% if page=='allevents' %}
                        {% for item in entity.subscriptionUser %}
                            {% if user==item %}
                                {% set subscribed = true %} 
                            {% endif %} 
                        {% endfor %}
                        {% if not subscribed %}
                            <form method="POST" action="subscribe">
                                <input type="hidden" name="idEvent" value="{{ entity.id }}"/>
                                <button type="submit" class="btn btn-default">Subscribe</button>
                            </form>
                        {% else %}
                            Subscribed
                        {% endif %}
                    {% endif %}
                    {% if page=='subscriptions' %}
                    <form method="POST" action="unsubscribe">
                        <input type="hidden" name="idEvent" value="{{ entity.id }}"/>
                        <button type="submit" class="btn btn-default">Unsubscribe</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            {% if page=='myevents' %}
                <a href="{{ path('event_create') }}">create new event</a><br>
            {% endif %}
            <a href="{{ path('nav_center') }}">
                back 
            </a>
    {% endblock %}

